<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>enemy1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{86,64}</string>
                <key>spriteSourceSize</key>
                <string>{86,64}</string>
                <key>textureRect</key>
                <string>{{451,1255},{86,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{542,279}</string>
                <key>spriteSourceSize</key>
                <string>{542,279}</string>
                <key>textureRect</key>
                <string>{{1,376},{542,279}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{448,332}</string>
                <key>spriteSourceSize</key>
                <string>{448,332}</string>
                <key>textureRect</key>
                <string>{{1,1003},{448,332}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{568,373}</string>
                <key>spriteSourceSize</key>
                <string>{568,373}</string>
                <key>textureRect</key>
                <string>{{1,1},{568,373}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{417,260}</string>
                <key>spriteSourceSize</key>
                <string>{417,260}</string>
                <key>textureRect</key>
                <string>{{571,1},{417,260}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{447,296}</string>
                <key>spriteSourceSize</key>
                <string>{447,296}</string>
                <key>textureRect</key>
                <string>{{545,521},{447,296}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,82}</string>
                <key>spriteSourceSize</key>
                <string>{108,82}</string>
                <key>textureRect</key>
                <string>{{791,1221},{108,82}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,73}</string>
                <key>spriteSourceSize</key>
                <string>{108,73}</string>
                <key>textureRect</key>
                <string>{{468,657},{108,73}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>enemy4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,109}</string>
                <key>spriteSourceSize</key>
                <string>{148,109}</string>
                <key>textureRect</key>
                <string>{{791,1110},{148,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,143}</string>
                <key>spriteSourceSize</key>
                <string>{168,143}</string>
                <key>textureRect</key>
                <string>{{451,1110},{168,143}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{168,127}</string>
                <key>spriteSourceSize</key>
                <string>{168,127}</string>
                <key>textureRect</key>
                <string>{{621,1110},{168,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{465,344}</string>
                <key>spriteSourceSize</key>
                <string>{465,344}</string>
                <key>textureRect</key>
                <string>{{1,657},{465,344}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{483,289}</string>
                <key>spriteSourceSize</key>
                <string>{483,289}</string>
                <key>textureRect</key>
                <string>{{468,819},{483,289}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>enemy9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{402,256}</string>
                <key>spriteSourceSize</key>
                <string>{402,256}</string>
                <key>textureRect</key>
                <string>{{571,263},{402,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>enemy.png</string>
            <key>size</key>
            <string>{993,1336}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:671983b2748b4ece36ea18d59e8e2f6b:7ff820b01db3a92fb686b8822c23071e:6e944191f15ab4e588a1ab6bcc3bd21e$</string>
            <key>textureFileName</key>
            <string>enemy.png</string>
        </dict>
    </dict>
</plist>
