<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>player1_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,144}</string>
                <key>spriteSourceSize</key>
                <string>{150,144}</string>
                <key>textureRect</key>
                <string>{{357,1},{150,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player1_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{150,134}</string>
                <key>spriteSourceSize</key>
                <string>{150,144}</string>
                <key>textureRect</key>
                <string>{{357,287},{150,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player1_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,5}</string>
                <key>spriteSize</key>
                <string>{150,134}</string>
                <key>spriteSourceSize</key>
                <string>{150,144}</string>
                <key>textureRect</key>
                <string>{{1,549},{150,134}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player1_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{150,138}</string>
                <key>spriteSourceSize</key>
                <string>{150,144}</string>
                <key>textureRect</key>
                <string>{{357,147},{150,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player2_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,121}</string>
                <key>spriteSourceSize</key>
                <string>{155,121}</string>
                <key>textureRect</key>
                <string>{{327,423},{155,121}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player2_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{155,121}</string>
                <key>spriteSourceSize</key>
                <string>{155,121}</string>
                <key>textureRect</key>
                <string>{{260,546},{155,121}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player2_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-1}</string>
                <key>spriteSize</key>
                <string>{129,119}</string>
                <key>spriteSourceSize</key>
                <string>{155,121}</string>
                <key>textureRect</key>
                <string>{{383,546},{129,119}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player2_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,0}</string>
                <key>spriteSize</key>
                <string>{149,121}</string>
                <key>spriteSourceSize</key>
                <string>{155,121}</string>
                <key>textureRect</key>
                <string>{{137,549},{149,121}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player3_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{161,176}</string>
                <key>spriteSourceSize</key>
                <string>{161,176}</string>
                <key>textureRect</key>
                <string>{{1,1},{161,176}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>player3_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,13}</string>
                <key>spriteSize</key>
                <string>{161,144}</string>
                <key>spriteSourceSize</key>
                <string>{161,176}</string>
                <key>textureRect</key>
                <string>{{164,340},{161,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player3_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,16}</string>
                <key>spriteSize</key>
                <string>{157,122}</string>
                <key>spriteSourceSize</key>
                <string>{161,176}</string>
                <key>textureRect</key>
                <string>{{1,425},{157,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player3_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,15}</string>
                <key>spriteSize</key>
                <string>{161,146}</string>
                <key>spriteSourceSize</key>
                <string>{161,176}</string>
                <key>textureRect</key>
                <string>{{1,277},{161,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player4_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,111}</string>
                <key>spriteSourceSize</key>
                <string>{176,111}</string>
                <key>textureRect</key>
                <string>{{179,1},{176,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player4_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,111}</string>
                <key>spriteSourceSize</key>
                <string>{176,111}</string>
                <key>textureRect</key>
                <string>{{179,114},{176,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player4_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,111}</string>
                <key>spriteSourceSize</key>
                <string>{176,111}</string>
                <key>textureRect</key>
                <string>{{1,164},{176,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player4_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,111}</string>
                <key>spriteSourceSize</key>
                <string>{176,111}</string>
                <key>textureRect</key>
                <string>{{179,227},{176,111}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>player.png</string>
            <key>size</key>
            <string>{508,702}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0c0397a3f80872e5203aa8098caf0e26:ede658e22c380c11116a1251c217ea96:6f6c59c3c6b7e98e5fb22e47122cb74a$</string>
            <key>textureFileName</key>
            <string>player.png</string>
        </dict>
    </dict>
</plist>
